0x00-pagination/__pycache__/0-simple_helper_function.cpython-38.pyc
0x00-pagination/__pycache__/1-simple_pagination.cpython-38.pyc
0x00-pagination/__pycache__/2-hypermedia_pagination.cpython-38.pyc
0x00-pagination/__pycache__/3-hypermedia_del_pagination.cpython-38.pyc
